html{
  box-sizing: border-box;
  font-size: 62.5%; /** reset para REMs: 62.5% = 10px de 16px  **/
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2;
}
/** commit message **/
/** updated style.css **/

/** globales **/
img{
  max-width: 100%;
}
.contenedor{
  max-width: 120rem;
  margin: 0 auto;
}
h1{
  font-size: 2.8rem;
}
.logo{
  width: 28rem;
  padding-left: 1rem;
}

/** utilidades **/
.fw-300{
  font-weight: 300;
  font-size: 2rem;
  color: #4f4f4f;
}
.centrar-texto {
  text-align: center;
}

/** header **/
@media(min-width:768px){
  .logo{
    width: 32rem;
    margin-left: 1rem;
    padding-left: 1rem;
  }
}
.site-header.inicio {
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /*fuerza a usar el largo y ancho disponible*/
  height: 100vh;/* viewport height */
  /* min-height: 60rem; /** = 600px; **/
}
.contenido-header {
  height: 100%; /** usa el total del espacio disponible de arriba hacia abajo **/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1 {
  color: #ffffff;
  padding-left: 2rem;
  line-height: 2;
  margin-bottom: 7rem;
}
@media(min-width:768px){
  .contenido-header h1{
    padding-left: 1rem;
    margin-left: 1rem;
  }
}
.barra{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem; /** = 30px; **/
}

/** footer **/
.site-footer{
  background-color: #333333;
  margin: 0;
}
.contenedor-footer{
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright{
  margin: 0;
  color: #FFFFFF;
}
p{
  margin: 0;
  color: #FFFFFF;
}
.facebook{
  margin: 7rem;
  height: 5rem;
}
