body{
  font-family: Lato, Arial, sans-serif;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

.contenedor {
  max-width: 1200px;
}

.imagen {
  height: 400px;
}

p{
  font-size: 22px;
}
