body{
  font-family: Ubuntu, Arial, sans-serif;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

.logo {
  max-height: 20px;
  max-width: 200px;
}

.imagen {
  height: 400px;
}

.button_f {
  height: 100px;
}

p{
  font-size: 22px;
  font-style: italic;
}

a{
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  color: #71b100
}
